* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  background-color: #f5f8ff;
}
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

/* Share style */
.primary-color {
  color: #4e47ff;
}

.text-primary {
  color: #252432;
}

.btn-primary {
  background-color: #4e47ff;
  color: #ffffff;
  padding: 12px 36px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  outline: none;
}

/* navbar-section */
.header {
  background-image: url("Assets/Hero-bg.png");
}

.navbar-section {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px 0px 150px;
}

.logo {
  font-size: 36px;
  font-weight: bold;
}

.hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 500px;
}

.hero-title {
  font-size: 65px;
  text-align: center;
}

/* action-section */
.action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 140px;
  margin-top: 30px;
}
.action-left-side h3 {
  font-size: 42px;
}
.action-left-side p {
  padding: 20px 0px;
  color: #252432;
  opacity: 50%;
}
.action-img {
  width: 350px;
  height: 250px;
  border-radius: 30px;
}

/* action-section */
.Productive_Users_Section {
  padding: 80px 140px;
  text-align: center;
  background-color: rgba(77, 71, 255, 0.096);
  border-radius: 15px;
}
.Productive_Users_Section h3 {
  font-size: 38px;
  font-weight: bold;
}
.productive_user_container {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.productive_user_container h1 {
  font-size: 80px;
}
.productive_user_container p {
  color: #252432;
  opacity: 50%;
}
